<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- don't have to but should let record id with this id -->
        <record id="res_config_settings_view_form" model="ir.ui.view">
            <field name="name">res.config.settings.view.form.inherit.school</field>
            <!-- model must be res.config.settings -->
            <field name="model">res.config.settings</field>
            <field name="priority">10</field>
            <!-- inherit view form of base settings page -->
            <field name="inherit_id" ref="base.res_config_settings_view_form"/>
            <field name="arch" type="xml">
                <xpath expr="//div[hasclass('settings')]" position="inside">
                    <div class="app_settings_block" data-string="School" id="school" string="School" data-key="school">
                        <h2>School Settings</h2>
                        <div class='row mt16 o_settings_container' id='statistics_div'>
                            <div class="col-12 col-lg-6 o_setting_box" title="Settings for School module">
                                <div class="o_setting_left_pane"></div>
                                <div class="o_setting_right_pane">
                                    <div class="content-group">
                                        <label string="Enable Configuration" for="school_student_enable_configuration"/>
                                        <field name="school_student_enable_configuration"/>
                                    </div>
                                    <div class="content-group" attrs="{'invisible': [('school_student_enable_configuration','=',False)]}">
                                        <label string="Default Age" for="school_student_default_age"/>
                                        <field name="school_student_default_age"/>
                                    </div>
                                    <div class="content-group" attrs="{'invisible': [('school_student_enable_configuration','=',False)]}">
                                        <label string="Default Product" for="product_default"/>
                                        <field name="product_default"/>
                                    </div>
                                    <!-- Trying to make Many2many field in settings, but doesn't work -->
                                    <!-- Link and issue: https://www.youtube.com/watch?v=-n7Ttx1Czdw&list=PLqRRLx0cl0hoJhjFWkFYowveq2Zn55dhM&index=96 -->
                                    <div class="content-group" attrs="{'invisible': [('school_student_enable_configuration','=',False)]}">
                                        <label string="Default Product Many2many" for="product_default_many2many"/>
                                        <field name="product_default_many2many" widget="many2many_tags"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </xpath>
            </field>
        </record>

        <record model="ir.actions.act_window" id="action_school_settings">
            <field name="name">School Settings</field>
            <!-- model have to use res.config.settings -->
            <field name="res_model">res.config.settings</field>
            <field name="view_mode">form</field>
            <field name="view_id" ref="res_config_settings_view_form"/>
            <field name="target">inline</field>
            <!-- set module to make configuration -->
            <field name="context">{'module': 'school'}</field>
        </record>

        <menuitem id="menu_configuration" name="Configuration" parent="menu_school" sequence="100"/>
        <menuitem id="school_settings" name="Settings" parent="menu_configuration"
                  action="action_school_settings" sequence="10"/>
    </data>
</odoo>